<nav class="navbar navbar-toggleable-sm fixed-top navbar-inverse bg-primary app-navbar navbarColor navbarBorder">
  <button class="navbar-toggler navbar-toggler-right hidden-md-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="assets/images/Logo__Pentasity_P_White.svg" alt="brand">
  </a>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav mr-auto">
      <li ng-show="!$ctrl.isLoggedIn()">
        <a class="nav-link" ui-sref-active="active" ui-sref="main">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" ui-sref-active="active" ng-show="$ctrl.isLoggedIn()">
        <a class="nav-link fontfamily" ui-sref="tProfile">T-PROFILE<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" ui-sref-active="active" ng-show="$ctrl.isLoggedIn()">
        <a class="nav-link fontfamily" ui-sref="tesseractTest">DASHBOARD<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" ui-sref-active="active" ng-show="$ctrl.isLoggedIn()">
        <a class="nav-link fontfamily" ui-sref="pdfReport">MY RESULTS<span class="sr-only">(current)</span></a>
      </li>
            <li class="nav-item" ui-sref-active="active" ng-show="$ctrl.isLoggedIn()">
        <a class="nav-link fontfamily" ui-sref="corporateGrid">CORPORATE GRID<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul ng-show="$ctrl.isLoggedIn()" class="nav navbar-right">
      <li class="dropdown pull-right">
        <a class="nav-link t-cog" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon icon-cog"></i> <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout" class="fontfamily">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
